header {
  background-color: #222;
  padding: 0.25rem;
  margin: 1rem;
  color: white;
}

.smurf {
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  padding: 0.5rem;
}

.smurf-form, .smurfs-list {
  padding: 0.5rem 2rem;
}

.smurf-form input {
  margin: 0.25rem 0 0.75rem;
}

.smurfs-list {
  align-items: flex-start;
  display: flex;
  /* flex-direction: column; */
}